@* Generator: WebPage *@
@using SiteExtensions.Administration.Resources;
<!DOCTYPE html>
<html>
   <head>
      <title>Site Extensions - Administration</title>
      <link href="Site.css" rel="stylesheet" type="text/css" />
      <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
       @RenderSection("PackageHead", required: false)
   </head>
   <body>
      <div id="page">
         <div id="header" class="group">
            <h1 class="site-title">
                Windows Azure Websites - Site Extensions Administration
            </h1>
        </div>
        <div id="main">
            @RenderBody()
            <p />
        </div>
        <div id="footer">
            
        </div>
      </div>
   </body>
</html>